@using MyHerbalife3.Shared.UI.Extensions
<div>
    <br />
    <br />
    <div style="height: 60px;"></div>
    <br />
    - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  - - - - - - 
    <br />
    <br />
    <span style="font-weight: bold;">30-DAY MONEY-BACK GUARANTEE</span><br />
    <p style="font-family:Verdana">
        If during the first 30 days after purchasing this product you are not satisfied for
        any reason, return the unused portion of the product to the Member who sold it
        to you for a full refund of the purchase price.
    </p>
    <span style="font-weight: bold;">GARANTIE DE REMBOURSEMENT DE 30 JOURS</span><br />
    <p style="font-family:Verdana">
        Si vous n’êtes pas entièrement satisfait de ce produit, veuillez retourner la
        portion non-utilisée dans les 30 jours suivant l’achat au membre où il a été
        acheté pour un remboursement complet du prix payé.
    </p>
    - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  - - - - - - 
    <br />
    <p style="page-break-before:always">
        <br />
        <br />
        <br />
        <br />
        <span style="font-weight: bold; font-size:large;">Important Notice </span><br />
        <span style="font-weight: bold;">POLICY FOR CANADA QUEBEC PROVIENCE</span><br />
    </p>
    <p class="center"  style="font-weight: bold;">
        @this.Localize("exchangePolicy1")       
    </p>
    <p style="font-weight: bold; font-family:Verdana">
        @this.Localize("exchangePolicy2")
    </p>
    <p style="font-family:Verdana">
        @this.Localize("exchangePolicy3")
    </p>
    
    <p>
        <br />
        <br />
        <br />
        <div style="font-weight: bold; font-family:Verdana">
            @this.Localize("exchangePolicy4")
        </div>
        @this.Localize("exchangePolicy5")
    </p>
    <br />
    <p style="font-family:Verdana">
        @this.Localize("exchangePolicy6")
    </p>
    <br />
    <p style="page-break-before: always;">
        <br />
        <br />
        <br />
    </p>   
    <span style="font-weight: bold;"> À COMPLÉTER PAR LE CONSOMMATEUR / TO BE COMPLETED BY THE CONSUMER</span><br />
    <br />
    <p>
        @this.Localize("exchangePolicy7")
    </p>
    <p>
        <table>
            <tbody>
                <tr>
                    <td>
                        ______________________________________________________
                        @this.Localize("tableRow1")
                     
                    </td>
                    <td>
                        (____________)_________________________________________
                        @this.Localize("tableRow2")
                    </td>
                </tr>
                <tr>
                    <td>
                        _______________________________________________________
                        @this.Localize("tableRow3")
                    </td>
                    <td rowspan="2">
                        (____________)__________________________________________
                        @this.Localize("tableRow4")
                      
                    </td>
                </tr>
                <tr>
                    <td>
                        ________________________________________________________
                        @this.Localize("tableRow5")
                       
                    </td>

                </tr>
                <tr>
                    <td>
                        ________________________________________________________
                        @this.Localize("tableRow6")
                    </td>
                    <td>
                        _________________________________________________________
                        @this.Localize("tableRow7")
                    </td>
                </tr>
            </tbody>
        </table>
        <br/>
        <div class="center" style="font-weight: bold; font-size:large">
            BLANCHE/WHITE - CLIENT/CUSTOMER JAUNE/YELLOW - MEMBRE/MEMBER
        </div>
        <div class="center" style="font-weight: bold;">
            © 2013 Herbalife International of America, Inc. Tous droits réservés. All rights reserved. Imprimé au Canada. Printed in Canada. #5010CA-03 11/13
        </div>
    </p>
    - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  - - - - - - 
    <br />
    - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  - - - - - - 
    <br />
    <p >
        <div style="font-weight: bold; font-size:large">
            POLICY FOR CANADA Rest
        </div>
        <br />
        <div  class="center" style="font-weight: bold; font-size:large">
            STATEMENT OF CANCELLATION RIGHTS/BUYER’S RIGHT TO CANCEL
        </div>
        <br />
        <div class="center" style="font-size:medium">
            Manitoba, Saskatchewan, Alberta, Yukon, Nunavut, Northwest Territories, Nova Scotia,<br />
            British Columbia, Newfoundland and Labrador, New Brunswick and Prince Edward Island
       </div>
    </p>
    <p style="font-size:large">
        YOU MAY CANCEL THIS CONTRACT FROM THE DAY YOU ENTER INTO THE CONTRACT UNTIL 10 DAYS AFTER YOU RECEIVE A COPY OF THE CONTRACT. YOU DO NOT NEED A REASON TO CANCEL.
    </p>
    <p style="font-family:Verdana">
        If you do not receive the goods or services within 30 days of the date stated in the contract, you may cancel this contract within one year of the contract date. You lose that right if you accept delivery after the 30 days. There are other grounds for extended cancellation. For more information, you may contact your provincial/territorial consumer affairs office.<br /><br />
        If you cancel this contract, the seller has 15 days to refund your money and any trade-in, or the cash value of the trade-in. You must then return the goods.<br /><br />
        To cancel, you must give notice of cancellation at the address in this contract. You must give notice of cancellation by a method that will allow you to prove that you gave notice, including registered mail, fax or by personal delivery.
    </p>
    <p style="font-size:large">
        FOR BRITISH COLUMBIA CONTRACTS ONLY: This is a contract to which the Business Practices and Consumer Protection Act applies.
    </p>
    <p style="font-size:large;page-break-before: always">
        <br />
        <br />
        <br />
        FOR ONTARIO CONTRACTS ONLY:
    </p>
    <p class="center" style="font-size:large">
        YOUR RIGHTS UNDER THE CONSUMER PROTECTION ACT, 2002
    </p>
    <p style="font-family:Verdana">
        If the supplier does not make delivery within 30 days after the delivery date specified in this agreement or if the supplier does not begin performance of his, her or its obligations within 30 days after the commencement date specified in this agreement, you may cancel this agreement at any time before delivery or commencement of performance. You lose the right to cancel if, after the 30-day period has expired, you agree to accept delivery or authorize commencement of performance. If the delivery date or commencement date is not specified in this agreement and the supplier does not deliver or commence performance within 30 days after the date this agreement is entered into, you may cancel this agreement at any time before delivery or commencement of performance. You lose the right to cancel if, after the 30-day period has expired, you agree to accept delivery or authorize commencement of performance. In addition, there are other grounds that allow you to cancel this agreement. You may also have other rights, duties and remedies at law. For more information, you may contact the Ministry of Consumer and Business Services. <br /><br />
        To cancel this agreement, you must give notice of cancellation to the supplier, at the address set out in the agreement, by any means that allows you to prove the date on which you gave notice. If no address is set out in the agreement, use any address of the supplier that is on record with the Government of Ontario or the Government of Canada or is known by you. If you cancel this agreement, the supplier has fifteen (15) days to refund any payment you have made and return to you all goods delivered under a trade-in arrangement (or refund an amount equal to the trade-in allowance). However, if you cancel this agreement after having solicited the goods or services from the supplier and having requested that delivery be made or performance be commenced within ten (10) days after the date this agreement is entered into, the supplier is entitled to reasonable compensation for the goods and services that you received before the earlier of the 11th day after the date this agreement was entered into and the date on which you gave notice of cancellation to the supplier, except goods that can be repossessed by or returned to the supplier. If the supplier requests in writing repossession of any goods that came into your possession under the agreement, you must return the goods to the supplier’s address, or allow one of the following persons to repossess the goods at your address: the supplier, a person designated in writing by the supplier. 
    <br />
        <br />
        If you cancel this agreement, you must take reasonable care of any goods that came into your possession under the agreement until one of the following happens: The supplier repossesses the goods. The supplier has been given a reasonable opportunity to repossess the goods and twenty-one (21) days have passed since the agreement was cancelled. You return the goods. The supplier directs you in writing to destroy the goods and you do so in accordance with the supplier’s instructions.
    </p>
    <br />
    <p  class="center" style="font-size:large;font-weight:bold">
        DROIT DE RÉSILIATION DE L’ACHETEUR
    </p>
    <br />
    <p style="font-size:large;font-weight:normal">
        VOUS POUVEZ RÉSILIER LE PRÉSENT CONTRAT À COMPTER DE LA DATE DE CONCLUSION DU CONTRAT, ET CE, PENDANT UNE PÉRIODE DE 10 JOURS APRÈS LA RÉCEPTION D’UNE COPIE DU CONTRAT. VOUS N’AVEZ PAS BESOIN DE DONNER UNE RAISON POUR RÉSILIER LE CONTRAT.
    </p>
    <br />
    <p style="font-family:Verdana">
        Si vous ne recevez pas le bien ou le service au cours des 30 jours qui suivent la date indiquée dans le contrat, vous avez un an, à compter de la date du contrat, pour résilier le contrat. Toutefois, vous perdez ce droit de résiliation si vous acceptez la livraison après la période de 30 jours. Le droit de résiliation peut être prolongé pour d’autres raisons. Pour de plus amples renseignements, communiquez avec votre bureau provincial/territorial de la consommation.
        <br />
        <br />
        Si vous résiliez le présent contrat, le vendeur doit, dans les 15 jours qui suivent, vous rembourser toute somme que vous lui avez versée et vous remettre tout bien qu’il a pris en échange ou la somme correspondant à la valeur de ce dernier. Vous devez alors retourner le bien acheté.
        Pour résilier le présent contrat, il vous suffit de donner un avis de résiliation à l’adresse mentionnée dans ce contrat. L’avis doit être donné par un moyen qui vous permet de prouver que l’avis a réellement été donné, y compris par courrier recommandé, télécopieur ou remise en personne.
    </p>
</div>