@using MyHerbalife3.Shared.UI.Extensions
<div>
    <br />
    <br />
    <strong>@this.Localize("importantNotice")</strong>
    <p>
        @this.Localize("iunderStandText")
    </p>
    
    <span style="font-weight: bold;">@this.Localize("herbalifeRefund")</span><br />
    <p>
        @this.Localize("exchangePolicy1")
        <br /><br />
        @this.Localize("exchangePolicy2")
    </p>

    <br />
</div>